## Task 2

<b>1. How-to-count-distance-to-the-previous-zero</b>
<br>For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer)
<br>create a new column 'Y'
<br>Consider a DataFrame df where there is an integer column 'X'
<br>import pandas as pd
<br>df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [2]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
newList = []
for elem in range(0, len(df.X)):
    if df.X[elem] == 0:
        k = elem
        break
for i in range(0,len(df.X)):
    if df.X[i]== 0:
        j=i
        newList.append(0)
        #print(df.X[i])
    elif i < k:
        newList.append(i+1)
       
    else:
        newList.append(i-j)
#print(newList)
df['Y'] = newList
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

<b>2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.<b>

In [3]:
import pandas as pd
import numpy as np
import datetime
from pandas.tseries.offsets import BDay

In [4]:
rng = pd.date_range('1/1/2015', '12/31/2015', freq = BDay())
datetimeIndex = pd.DataFrame({'dtIndex':rng,'randomNum':np.random.randn(len(rng))})
datetimeIndex.set_index('dtIndex', inplace = True)
datetimeIndex.head()

            randomNum
dtIndex
2015-01-01   0.403251
2015-01-02  -1.283912
2015-01-05   0.855026
2015-01-06   1.954202
2015-01-07   0.329569

<b>3. Find the sum of the values in s for every Wednesday</b>

In [5]:
datetimeIndex['Weekday'] = datetimeIndex.index.weekday
datetimeIndex.head()

            randomNum  Weekday
dtIndex
2015-01-01   0.403251        3
2015-01-02  -1.283912        4
2015-01-05   0.855026        0
2015-01-06   1.954202        1
2015-01-07   0.329569        2

In [6]:
Day = pd.Categorical(datetimeIndex['Weekday'])
datetimeIndex['Weekday'] = Day.rename_categories(["Mon","Tue","Wed","Thu","Fri"])
print(pd.DataFrame(datetimeIndex.groupby(datetimeIndex['Weekday']).sum().loc['Wed']).transpose())

     randomNum
Wed   -5.80883

<b>4. Average For each calendar month</b>

In [7]:
datetimeIndex['Month'] = datetimeIndex.index.month
Month = pd.Categorical(datetimeIndex['Month'])
datetimeIndex['Month'] = Month.rename_categories(["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"])

In [8]:
monthlyAverage = datetimeIndex.groupby(datetimeIndex['Month']).mean()
monthlyAverage

       randomNum
Month
Jan    -0.088226
Feb    -0.150483
Mar    -0.189589
Apr    -0.147046
May    -0.163843
Jun    -0.247192
Jul     0.093512
Aug    -0.224608
Sep     0.135327
Oct    -0.160399
Nov    -0.108066
Dec    -0.293248

<b>5. For each group of four consecutive calendar months in s, find the date on which the highest value occurred.</b>

In [9]:
i = pd.to_datetime('2015-01-01')
j = pd.to_datetime('2015-04-30')
for k in range(1,10):
    print(datetimeIndex[i:j]['randomNum'].idxmax())
    i = i+pd.DateOffset(months=1)
    j = j+pd.DateOffset(months=1)

2015-01-06 00:00:00
2015-03-26 00:00:00
2015-03-26 00:00:00
2015-07-06 00:00:00
2015-07-06 00:00:00
2015-07-06 00:00:00
2015-07-06 00:00:00
2015-09-15 00:00:00
2015-09-15 00:00:00